  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('IBM Plex Sans Thin'), local('IBMPlexSans-Thin'), url('./IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf') format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'), url('./IBM_Plex_Sans/IBMPlexSans-Light.ttf') format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('IBM Plex Sans'), local('IBMPlexSans'), url('./IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url('./IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf') format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  

html, body { 
    height: 100%;

    max-height: 100%;

    margin: 0; 
    
    padding: 0; 
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight: 100; 
    font-size: 1.2rem; 
}

p, ul {
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight: 100; 
    font-size: 1.2rem;

    background: #fff;
    color: #222224;
    border-radius: 0.5rem;
}

p{
    padding: 0.5rem;

    text-align: justify;
}

.hidden { 
    visibility: hidden; 
    min-height: 0 !important;
    max-height: 0 !important; 
    height: 0 !important; 
    padding: 0!important;
}

.hcentering { margin: 0 auto; }

.vcentering {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#inicio-sec {
    position: fixed;
    padding: 0 !important;
    margin: 0 !important;
}

section {
    color: #324247;
    min-height: 100%;
    width: 100%;

    padding-top: 5rem;
    padding-bottom: 3rem;

    background: rgb(16,75,111);
    background: linear-gradient(180deg, rgba(16,75,111,1) 0%, rgba(5,24,31,1) 100%); 
}


#conrod-log {
    display: block;
    width: 18rem;
    height: auto;
    margin: 0 auto;
}

#conrod-minlog {
    position: fixed;
    top: 0.5rem;
    left: 1rem;;
    display: block;
    width: 4rem;
    height: auto;
}

header {
    position: fixed;
    display: block;
    background: transparent;
    width: 5rem;
    height: 5rem;
    right: 0.3rem;
    padding: 0.3rem 0.7rem 0.3rem;
    top: 0.3rem;
    z-index: 1000;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header.active {
    width: 15rem;
    height: auto;
    background: #fff;
    border-radius: 5%;
    color: #104b6f;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
}


header nav {
    visibility: hidden;    
}

header nav .nav-link.disabled {
    color: #adafb4
}

header nav .nav-link.active {
    font-weight: 600;
}

header nav .nav-link {
    font-weight: 300;
}

header.active nav {
    visibility: visible;
}

header span {
    display: block;
    font-size: 3rem;
    text-align: center;
    padding: 0.3rem 0.7rem 0.3rem;
    width: 5rem;
    height: 5rem;
    color: #98aeb6;
    margin-top: -0.6rem;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header.active span {
    margin-top: -0.3rem;
    margin-left: -0.3rem;

    color: #104b6f;

    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari prior 9.0 */
    transform: rotate(-90deg); /* Standard syntax */
}

h1, h2, h3 { color: #fff; text-align: center;}

label {
    color: #fff;
    font-weight: 300;
}

.custom-switch {
    height: 3rem;
}

label.custom-control-label::before {
    height: 2.7rem !important;
    width: 3.5rem !important;
}

label.custom-control-label::after {
    height: 2.5rem !important;
    width: 2.5rem !important;
    border-radius: 50%;
}

fieldset {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 2rem;
}

fieldset legend {
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight: 600;
    color: #98aeb6;
}

.form-check-input {
    transform: scale(2);
}

.comdesconto {
    color: #28a745 !important;
}

#resultado span {
    font-weight: 600;
    color: #dc3545;
}

ul li span {
    font-weight: 300;
}

.bancos {
    background: #fff;
    padding: 0;
    margin: .178rem;
    border-radius: 15px;
}

.bancos div {
    padding: .8rem;
}

.bancos img {
    width: 100%;
}

.inscricoes_abertas {
    color: rgb(22, 150, 50); font-weight: 600;
}

.inscricoes_encerradas {
    color: rgb(150, 22, 22); font-weight: 600;
}

#linsc a:nth-child(even), #linsc a:nth-child(even) p {
    background-color: #acacac;
}

#totaldalista, #vlrpago {
    
}

.linscTopBar {
    font-size: 0.8rem;
}

.semkit {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.comkit {
    visibility: visible;
}


#qrcodecam {
    display: block;
    background: #000;
    width: 15rem;
    height: 15rem;
    border-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#btnqrcode {
    position: fixed;
    background-image: url('../images/qr-code-scan-svgrepo-com.svg');
    background-size: contain;
    display: block;
    font-size: 3rem;
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    left: 1rem;
    margin-top: 0.6rem;

}